/*Подгружаемые шрифты*/

@font-face {
	font-family:'Comforta';
	src: url('../fonts/Comfortaa.ttf');
}

@font-face {
	font-family:'Ubuntu';
	src: url('../fonts/Ubuntu.ttf');
}

/*Стиль для всей страницы*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Ubuntu';
}

/*Стили для body*/
body {   
    background-color: #ffffff;
    padding: 0 10px;
}

/*Стили для фрейма header (Логотип и расчетная дата)*/
header{
    display: flex;
    flex-direction: row;
    gap: 1220px;
    background-color: rgb(236, 243, 243);
    border-radius: 10px;
    margin-top: 15px;
}

/*Стили полей с расчетной датой*/
.work_date{
    display: flex;
    font-size: 18px;
    align-items: center;
    gap: 20px;

}

/*Стили для поля с датой расчета заработной платы*/
#work_date{
    font-size: 24px;
    color: #e27f29;
}

/*Стили для общего рабочего фрейма*/
.workfield{
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    
    font-family: 'Comforta';
}
/*Стили логотипа*/
.emblem {
    height: 50px;
    padding: 10px 22px;
}

/*Стили для меню расположенного слева на всех страницах */
.menu{    
    width: 380px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
    background-color: rgb(233, 241, 241);;
    border-radius: 10px
}

/*Стили для рабочего фрейма вывода текущей информации на всех страницах*/
.resultfield{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 58%;
    height: 87vh;
    border-radius: 10px;
    margin: 0px 10px;
    background-color: rgb(233, 241, 241);
    overflow-y: auto;
}

/*Стиль для заголовка в рабочем фрейме*/
.h1{
    margin: 0 auto;
    width: 80%;
}

.resultfield h1{
    margin: 30px 10px 50px;
    font-size: 30px;
    color: #e27f29;
    font-family: 'Comforta';
}

/*Стиль формы выбора рабочей даты расчета зарплаты на странице index.html*/
.estimated_form{
    display: flex;
    flex-direction: column;
}

/*Стили для поля выбора даты на странице index.html*/
.date{
    width: 200px;
    text-align: center;
    font-size: 18px;
    margin: 15px auto; 
}
 /*Стили меню сотрудников расположенное с права на всех страницах*/
.workersmenu{
    width: 380px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 87vh;
    background-color: rgb(233, 241, 241);
    border-radius: 10px;
    overflow-y: auto;
}


/*стили для кнопок*/
.button {
    display: inline-block;
    font-family: 'Comforta';
    color: white;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#e27f29, #f78b2d) #e27f29;
    transition: 0.2s;
    margin: 10px;
}

.width{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

/*Стили срабатывают при наведение на кнопку*/
.button:hover { 
    background: linear-gradient(#f5ae00, #f59500) #f5ae00; 
}

/*Ситили срабатывают при нажатии на кнопку*/
.button:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500; 
}
  
/*Стили для кнопок с информацией о сотрудниках в меню сотрудников расположенное справа на всех страницах*/
.worker__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 20px;
}

.worker__name{
    margin-bottom: 10px;
}
.worker__info{
    display: none;
    flex-direction: column;
    margin-top: 15px;
    align-items: left;
    gap:5px;

}

.worker__inf{
    display: flex;
}

.worker__button:hover {
    height: 150px;
}

.worker__button:hover .worker__info {
    display: flex;
}

/*Стили для формы загрузки файлов на странице writer.html*/
.file{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 10px 50px;
    font-size: 30px;
    color: #e27f29;
    font-family: 'Comforta';
    gap: 20px;
}

/*Стили для страницы addworker.html*/
.worker{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

/*Стили для полей со статическими названиями*/
.worker__field{
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 20px;
    font-size: 24px;
    color: #e27f29;
    font-family: 'Comforta';
    justify-content: center;
}

/*Стили для динамических полей*/
.worker_field_data{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 23px;
    font-family: 'Comforta';
}

/*Стили для полей ввода фио и табельный номер*/
.input__width{
    width: 100%;
    font-size: 24px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
}

/*Стили для полей со ставками*/
.input__heigh{
    width: 100px;
    font-size: 24px;
    padding: 0 5px;
    border-radius: 5px;
    border: none;
}

/*Стили для поля селектора руководитель*/
.check__box{
    margin-left: -45px;
}

/*Стили для страницы удаления сотрудников*/

.delworker{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.delworkers{
    border: none;
    width: 350px;
    height: 30px;
    font-family: 'Comforta';
    font-size: 16px;
    border-radius: 5px;
}