<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert= "~{index :: head}"></head>
<body>
  <div th:insert= "~{index :: header}"></div>
  <main class="workfield">
    <div th:insert= "~{index :: menu}"></div>
    <section th:class="resultfield">
      <h1>Создание нового сотрудника</h1>
      <form th:class="add__worker" th:action="@{/inbulk/addworker}" th:object="${worker}" method="post">
        <section th:class="worker">
          <div th:class="worker__field">
            <div th:class="worker__txt" >Ф.И.О.:</div>
            <div th:class="worker__txt">Руководитель:</div>
            <div th:class="worker__txt">Ставка за день:</div>
            <div th:class="worker__txt">Ставка за час:</div>
            <div class="worker__txt peymentInHollydays" th:id="chek_hiden">Ставка в выходные и праздничные дни:</div>
          </div>
          <div th:class=" worker_field_data">
            <input th:class="input__width" type="text" class="worker__data" th:field="*{name}" required>
            <input class="input__heigh check__box" type="checkbox" name="post" th:field="*{post}"
                   th:onclick="OnChangeCheckbox(this)">
            <input th:class="input__heigh" type="number" step="50" min="50" th:field="*{paymentInDay}"
                   required>
            <input th:class="input__heigh" type="number" step="50" min="50" th:field="*{paymentInHour}"
                   required>
            <input class="input__heigh peymentInHollydays" type="number" step="50" min="0" th:field="*{peymentInHollydays}">
          </div>
        </section>
        <button th:class="button" th:type="submit">Сохранить данные сотрудника</button>
      </form>
    </section>
    <div th:insert= "~{index :: workersmenu}"></div>
  </main>
</body>
<script th:inline="javascript">
        function OnChangeCheckbox (checkbox) {
            if (checkbox.checked) {
                document.getElementById('peymentInHollydays').style.display="flex";
                document.getElementById('chek_hiden').style.display="flex";
            }
            else {
                document.getElementById('peymentInHollydays').style.display="none";
                document.getElementById('chek_hiden').style.display="none";
            }
        }
       </script>
</html>