<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:insert= "~{index :: head}"></head>
<body>
  <div th:insert= "~{index :: header}"></div>
  <main class="workfield">
    <div th:insert= "~{index :: menu}"></div>
    <section th:class="resultfield">
      <h1>Удаление сотрудника</h1>
      <form th:class="delworker" th:action="@{/inbulk/delworker}" method="post">
        <select th:class="delworkers" name="selected" >
          <option value="">Выбирете сотрудника</option>
          <option th:each="w: ${workers}" th:value="${w.id}" th:text="${w.name}"></option>
        </select>
        <button th:class="button">Удалить сотрудника</button>
      </form>
    </section>
    <div th:insert= "~{index :: workersmenu}"></div>
  </main>
</body>
</html>

<!--TODO-->
<!--исправить стили для страницы удаления сотрудников-->