<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расчет зарплаты сотрудников INBULK</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link type="image/x-icon" href="img/inbulkicon.PNG" rel="shortcut icon">
</head>
<body>
    <header th:fragment="header">
        <div class="logo_img"><a th:href="@{/inbulk}" >
            <img class="emblem" src="/img/inbulk.svg" alt="Эмблемма INBULK">
            </a>
        </div>
        <div class="work_date">
            <p>Расчетная дата:</p>
            <div th:id="work_date" th:text="${workDate}"></div>
        </div>
    </header>
    <main class="workfield">
        <nav th:fragment="menu" class="menu">
            <a href="index.html" class="button">Установить рабочую дату</a>
            <a href="#" class="button">Записать новые данные</a>
            <a href="#" class="button">Расчитать всех сотрудников</a>
            <a href="#" class="button">Расчитать сотрудника</a>
            <a href="#" class="button">Добавить нового сотрудника</a>
            <a href="edit.html" class="button">Редактировать сотрудников</a>
            <a href="#" class="button">Удалить сотрудника</a>
        </nav>
        <section class="resultfield">
            <h1>Расчет заработной платы за месяц сотрудникам ИП "Бабайцев В.А."</h1>
            <h3>Выберите расчетную дату</h3>
            <form class="estimated_form" action="#" th:action="@{/inbulk/setworkdate}" th:object="${estimatedDate}" method="post">
            <input class="date" type="month" th:field="*{date}" th:value="${setestimatedDate}">
                <button class="button width">
                    Установить
                </button>
            </form>
        </section>
        <section th:fragment="workersmenu" class="workersmenu">
            <a th:each="w: ${workers}" th:href="@{'/worker/' + ${n.Id}}"class="button worker__button">
                <div class="worker__name">
                    <h3 th:text="${w.name}"></h3>
                </div>
                <div class="worker__info">
                    <div class="worker__inf">
                        <h4>
                            Должность:&nbsp
                        </h4>
                        <span th:text="S{w.post} ? бригадир : рабочий">
                        </span>
                    </div>
                    <div class="worker__inf">
                        <h4>
                            Ставка в день:&nbsp
                        </h4>
                        <span th:text="S{w.paymentInDay}">
                        </span> р.
                    </div>
                    <div class="worker__inf">
                        <h4>
                            Ставка за переработку:&nbsp
                        </h4>
                        <span th:text="S{w.paymentInHour}">
                        </span> р.
                    </div>
                    <div class="worker__inf">
                        <h4>
                            Ставка в выходные:&nbsp
                        </h4>
                        <span th:text="S{w.peymentInHollydays}">
                        </span> р.
                    </div>
                </div>
                </a>
        </section>        
    </main>
</body>
</html>